/* OSR+ Shorthand for NPC's and Monsters v0.1 */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:800,900|Eczar:400,500,600,700,800|Merriweather:400,700,900&display=swap a');

/* Flex Column Setup */
.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 10px;
}

hr.break1 {
    margin-top: 25px;
    border: .1em solid #7B3518;
}

textarea
{
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    font-size: 9px;
    resize: none;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #F5F1E1;
    text-overflow: ellipsis;
}

div.line 
{
    border:none; 
    padding:0; 
    clear: left;
    margin-top: -.5em;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

table, td {
    border: .1em solid #7B3518;
    padding: 10px;
    border-top: 5px solid #7B3518;
}

table {
    border-spacing: 25px;
}



/*  Header                      */
/*  Main Character Information  */
.name1
{
    text-align: left;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    float:left; 
    text-align:left;
    font-size:200%; 
    font-weight: 800;
}

.head1
{
    text-align: left;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:100%; 
    font-weight: 900;
    display: inline; 
    margin-right: 0px;
}

.tableStyle {
    text-align: left;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:100%; 
    font-weight: 900;
    display: inline; 
    margin-right: 0px;
    border: .1em solid #7B3518;
    padding: 10px;
    border-top: 5px solid #7B3518;
    border-spacing: 25px;

}



