/* OSR+ 3 col basic v0.8 */
/* based on Chris's revamp of the 6th Ed 3 col */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:800,900|Eczar:400,500,600,700,800|Merriweather:400,700,900&display=swap a');


button[type=roll].sheet-d6-dice::before {
    font-family: 'dicefontd6';
    content: 'F ';
    text-align: right;
}

input[type=number]
{
    padding: 0;
    margin:0;
    border: .1em solid transparent;
    background-color: transparent;
    box-shadow: none;
    font-size:100%; 
    text-align: center;
    border-bottom: .1em solid black;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;

}

input[type=text]
{
    padding: 0;
    margin:0;
    border: .1em solid transparent;
    background-color: transparent;
    box-shadow: none;
    font-size:100%; 
    text-align: center;
    border-bottom:.1em solid black;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

textarea
{
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    font-size: 9px;
    resize: none;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
    -webkit-appearance: none; 
    margin: 0; 
}

div.sheet-single-col {
    padding:none; 
    margin:none;
    width:21.5em;
    float:left;
}

div.sheet-section {
    border: .2em solid black;
    border-radius: 1em;
    /* font-size: 85%; */
    margin-bottom: 1em;
    margin-left:.5em;
    margin-right: .5em;
}

div.sheet-subsection {
    padding-top: 0em;
    padding-left:.5em;
    padding-right: .5em;
    padding-bottom: 0;
    padding-top:0em;
}

div.sheet-section-title {
    text-align: center;
    font-weight: 800;
    width: 100%;
    border-bottom: .2em solid black;
    margin-bottom: 1em;
    font-family: 'Eczar', Arial, Helvetica, sans-serif;

}

div.sheet-line
{
    border:none; 
    padding:0; 
    clear: left;
    margin-top: -.5em;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/* Main Character Information - Top of Page */
.sheet-head1, .input[type=text].sheet-head1
{
    border-bottom: .1em solid transparent;
    border-top: .1em solid transparent;
    margin-bottom: .175em;
    font-size:100%;
    font-weight: 700;
    
}

div.sheet-head1, input[type=text].sheet-head1
{
    margin:0; 
    padding:0; 
    float:left; 
    text-align:left;
}

/* Statistics section */
.sheet-cha1, .sheet-cha2, .sheet-cha3, .sheet-cha4, input[type=number].sheet-cha1, input[type=number].sheet-cha3,
    input[type=number].sheet-cha4
{
    margin-bottom: .175em;
    margin-right: 1em;
    font-size:100%;
}

.sheet-cha1, .sheet-cha2, .sheet-cha3
{
    border-bottom: .1em solid transparent;
    border-top: .1em solid transparent;
}

div.sheet-cha1, input[type=number].sheet-cha1
{
    float:left; 
    width: 20%;
    text-align:center;
}

div.sheet-cha2
{
    float:left; 
    width: 40%;
    text-align:left;
    font-weight:bold;
}

div.sheet-cha3
{
    float:left; 
    width:20%; 
    text-align:left;
}

/* Skills */ 
div.sheet-sk1, div.sheet-sk2, div.sheet-sk3, input[type=number].sheet-sk1, input[type=text].sheet-sk2, input[type=text].sheet-sk3, div.sheet-sk4
{
    margin-bottom: .5em;
    font-size:100%;
}

div.sheet-sk1, div.sheet-sk2, div.sheet-sk3, div.sheet-sk4, input[type=text].sheet-sk2
{
    border-bottom: .1em solid transparent;
    border-top: .1em solid transparent;
}

div.sheet-sk1, input[type=checkbox].sheet-sk1
{
    float:left; 
    width:15%;
    text-align:center;
    
}

div.sheet-sk2, input[type=text].sheet-sk2
{
    float:left; 
    width:50%;
    text-align:left;
    font-size: 95%;
}

div.sheet-sk3, input[type=text].sheet-sk3
{
    float:left; 
    width:15%;
    text-align:center;
}

div.sheet-sk4
{
    float:left; 
    width:15%;
    text-align:center;
}


/* Current Status */
div.sheet-cs1, div.sheet-cs2,  input[type=text].sheet-cs2
{
    margin-bottom: .4em;
    font-size:100%;
}

div.sheet-cs1, div.sheet-cs2, div.sheet-cs3
{
    border-bottom: .1em solid transparent;
    border-top: .1em solid transparent;
}

div.sheet-cs1
{
    float:left; 
    width:40%;
    text-align:left;
}

div.sheet-cs2, input[type=number].sheet-cs2
{
    float:left; 
    width:30%;
    text-align:center;
}

div.sheet-cs3, input[type=number].sheet-cs3
{
    float:left; 
    width:30%;
    text-align:center;
}

/* Equipment */
div.sheet-vs1, input[type=text].sheet-vs1, div.sheet-vs2, input[type=text].sheet-vs2, div.sheet-vs3, input[type=text].sheet-vs3
{
    float:left;
    text-align:left;
    margin-bottom: .8em;
    font-size:90%;
}

div.sheet-vs1
{
    border-bottom: .1em solid transparent;
    border-top: .1em solid transparent;
}

div.sheet-vs2, input[type=text].sheet-vs2 
{
    border-bottom: .1em solid transparent;
    border-top: .1em solid transparent;
    margin-bottom: .5em;
}

div.sheet-vs2, input[type=text].sheet-vs2 
{
    margin-bottom: .5em;
}

.repeating_equipment {
    padding: 0;
    margin-top: 3.5em;
    border: .1em solid transparent;
    background-color: transparent;
    box-shadow: none;
    font-size:90%; 
    text-align: center;
    border-bottom:.1em solid black;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.repcontainer[data-groupname=repeating_equipment] > .repitem .repcontrol_del {
    font-family: "Pictos";
    font-size: 0.5em;
    padding: 3px 7px 2px;
  }
.repcontainer[data-groupname=repeating_equipment] > .repitem .repcontrol_move {
    font-size: 0.5em;
    padding: 3px 7px;
}

.itemcontrol {
    z-index: 100;

}

/* Maleficence */
div.sheet-es1, input[type=text].sheet-es1
{
    margin-bottom: .5em;
    font-size:100%;
    border-bottom: .1em solid transparent;
    border-top: .1em solid transparent;
}

div.sheet-es1, input[type=text].sheet-es1
{
    float:left; 
    width:60%;
    text-align:left;
}


/* Conflict Tags*/
div.sheet-pts1, div.sheet-pts2, input[type=text].sheet-pts1, input[type=checkbox].sheet-pts2, div.sheet-pts3
{
    margin-bottom: .5em;
    font-size:100%;
}

div.sheet-pts1, div.sheet-pts2
{
    border-bottom: .1em solid transparent;
    border-top: .1em solid transparent;
}

div.sheet-pts1, input[type=text].sheet-pts1
{
    float:left; 
    width:80%;
    text-align:left;
    border-bottom: .1em solid transparent;
}

div.sheet-pts2, input[type=checkbox].sheet-pts2
{
    float:left; 
    width:15%;
    text-align:center;
    
}

div.sheet-pts3, input[type=text].sheet-pts3
{
    font-size: 90%;
    border-bottom: .1em solid transparent;
    width: 80%;
    text-align: left;
}

/* old sheet values */
div.sheet-cm1, div.sheet-cm2, div.sheet-cm3, div.sheet-cm4, div.sheet-cm5, div.sheet-cm6, div.sheet-cm7
{
    margin-bottom: -.5em;
    font-size:80%;
}

div.sheet-cm1, div.sheet-cm2, div.sheet-cm3, div.sheet-cm4, div.sheet-cm5, div.sheet-cm6, div.sheet-cm7
{
    border-bottom: .1em solid transparent;
    border-top: .1em solid transparent;
}

div.sheet-cm1
{
    float:left; 
    width:24%;
    text-align:center;
}

div.sheet-cm2
{
    float:left; 
    width:11%;
    text-align:center;
}

div.sheet-cm3
{
    float:left; 
    width:16%;
    text-align:center;
}

div.sheet-cm4
{
    float:left; 
    width:62%;
    text-align:left;
}

div.sheet-cm5
{
    float:left; 
    width:11%;
    text-align:center;
}

div.sheet-cm6
{
    float:left; 
    width:27%em;
    text-align:center;
}

div.sheet-cm7
{
    width:100%;
    text-align:center;
    font-style:italic;
}

div.sheet-mv1, div.sheet-mv2, input[type=text].sheet-mv1, input[type=number].sheet-mv2, input[type=text].sheet-mv3
{
    margin-bottom: .3em;
    font-size:100%;
}

div.sheet-mv1, div.sheet-mv2
{
    border-bottom: .1em solid transparent;
    border-top: .1em solid transparent;
}

div.sheet-mv1, input[type=text].sheet-mv1
{
    float:left; 
    width:40%;
    text-align:left;
}


div.sheet-mv2, input[type=number].sheet-mv2
{
    float:left; 
    width:30%;
    text-align:center;
}

div.sheet-mv3, input[type=text].sheet-mv3
{
    float:left; 
    width:60%;
    text-align:center;
}


/* Spells */
div.sheet-pow1, div.sheet-pow2, div.sheet-pow3, div.sheet-pow4
{
    border-bottom: .1em solid transparent;
    border-top: .1em solid transparent;
}

div.sheet-pow1, input[type=checkbox].sheet-pow1
{
    float:left; 
    width:10%;
    text-align:center;
}

div.sheet-pow2, input[type=text].sheet-pow2
{
    float:left; 
    width:20%;
    text-align:left;
    border-bottom: .1em solid transparent;
}

div.sheet-pow3, input[type=text].sheet-pow3
{
    float:left; 
    width:60%;
    text-align:left;
    border-bottom: .1em solid transparent;
    word-break: break-all;

}

div.sheet-pow4, input[type=button].sheet-pow4
{
    float:left; 
    width:10%;
    text-align:center;
}



/* ------------------------------------------------------- */
/*                                                         */
/*    ROLL TEMPLATE(S)                                     */
/*                                                         */
/* ------------------------------------------------------- */

.sheet-rolltemplate-rolls {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  .sheet-rolltemplate-rolls .sheet-container {
    border: 3px solid #1E1918;
    border-radius: 3px;
  }
  .sheet-rolltemplate-rolls .sheet-header {
    background-color: var(--header-bg-color, #7B3518);
    color: var(--header-text-color, #F5F1E1);
    text-align: left;
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 2px solid #1E1918;
    font-family: 'Eczar', Arial, Helvetica, sans-serif;
  }
  .sheet-rolltemplate-rolls .sheet-title,
  .sheet-rolltemplate-rolls .sheet-name {
    font-size: 1.4em;
    font-weight: bold;
  }
  .sheet-rolltemplate-rolls .sheet-subtitle {
    font-size: 1em;
  }
  .sheet-rolltemplate-rolls .sheet-container {
    --header-bg-color: #a83521;
    --header-text-color: #F5F1E1;
  }
  
  .sheet-rolltemplate-rolls .sheet-content {
    display: grid;
    background: #F5F1E1;
    grid-template-columns: auto auto;
    line-height: 1.4em;
  }
  .sheet-rolltemplate-rolls .sheet-content > div {
    padding: 5px;
  }
  .sheet-rolltemplate-rolls .sheet-content .sheet-key {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
  }
  .sheet-rolltemplate-rolls .sheet-content :nth-child(4n+3),
  .sheet-rolltemplate-rolls .sheet-content :nth-child(4n) {
    background: #F5F1E1;
  }